.loader{
  align-items: center;
  background: rgba($dark,.9);
  display: flex;
  justify-content: center;
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: $z-index-max +1;
}