@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');

$primary: #088096;
$secondary: #049B44;
$dark: #063641;
$light: #D6EEF4;

// stylelint-disable value-keyword-case
$font-family-sans-serif:      'PT Sans Narrow', sans-serif !default;
$font-family-monospace:       'PT Sans Narrow', sans-serif !default;
$font-family-base:            $font-family-sans-serif !default;

$z-index-max: 2000;