<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ZAZALIC</title>
</head>
<body>

  <!-- Loader -->
  <div class="loader">
    <div class="spinner-border text-white" role="status">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
  <!-- Loader -->

  <!-- Nav -->
  <div class="navbar navbar-fixed navbar-expand-lg">
    <div class="container">
      <a href="#" class="navbar-brand">
        <img src="" id="navbar-brand-logo" alt="brand zazalic">
      </a>

      <button class="navbar-toggler" type="button" id="navbarButton">
        <i class="fas fa-bars text-light"></i>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-lg-auto">
          <li class="nav-item">
            <a href="#" class="nav-link text-light">Productos</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-light">Nosotros</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link text-light">Contacto</a>
          </li>
        </ul>
      </div>

    </div>
  </div>
  <!-- Nav -->

  <!-- Cover index -->
    <div class="cover-index">
      <img src="" class="cover-index-bg" id="cover-index" alt="cover index zazalic">
      
      <a href="" class="item-cover first-item-cover">
        <div class="text-item-cover">
          <b>Resinas</b>
        </div>
        <img
          class="image-item-cover"
          src="https://cdn.pixabay.com/photo/2016/12/15/20/21/texture-1909992_960_720.jpg"
          alt="Resinas Zazalic">
      </a>
      
      <a href="" class="item-cover second-item-cover">
        <div class="text-item-cover">
          <b>Pigmentos</b>
        </div>
        <img
          class="image-item-cover"
          src="https://cdn.pixabay.com/photo/2017/07/03/20/17/abstract-2468874_960_720.jpg"
          alt="Resinas Zazalic">
      </a>

    </div>
  <!-- Cover index -->
  
  <!-- Content -->
  <div class="content">
    
    <div class="card">
      
    </div>

  </div>
  <!-- Content -->
  
</body>
</html>